body,
html{
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.search {
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  background: #e5e5e5;
  transition: 0.3s;
 }
 
 .search:focus {
  outline-color: #2f437f;
  background: #e3e3e3;
  transition: 0.3s;
 }

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem auto;
  border-radius: 12px;
  width: 18rem;
  height: 12rem;
  transition: 1s;
}

.expand{
  height: 35rem;
  width: 35rem;

}

.dawn {
  background: linear-gradient(rgb(145, 235, 255), rgb(255, 165, 48));

}

.day{
  background: linear-gradient(120deg, #daf8ff 30%, #65cbfb 88%);


}


